# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.glb binary
*.gltf binary
*.obj binary
*.fbx binary
*.dae binary
*.3ds binary
*.blend binary
*.max binary
*.ma binary
*.mb binary
*.c4d binary
*.dwg binary
*.dxf binary
*.pdf binary
*.zip binary
*.tar binary
*.gz binary
*.rar binary
*.7z binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.a binary
*.lib binary
*.o binary
*.obj binary
*.bin binary
*.dat binary
*.db binary
*.sqlite binary
*.sqlite3 binary
*.mdb binary
*.accdb binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary
*.doc binary
*.docx binary
*.rtf binary
*.odt binary
*.ods binary
*.odp binary
*.key binary
*.numbers binary
*.pages binary
*.psd binary
*.ai binary
*.sketch binary
*.fig binary
*.xd binary
*.indd binary
*.qxp binary
*.eps binary
*.svg binary
*.ico binary
*.icns binary
*.tiff binary
*.tif binary
*.bmp binary
*.gif binary
*.webp binary
*.avif binary
*.heic binary
*.heif binary
*.raw binary
*.cr2 binary
*.nef binary
*.arw binary
*.dng binary
*.orf binary
*.rw2 binary
*.pef binary
*.srw binary
*.x3f binary
*.mrw binary
*.mef binary
*.raf binary
*.dcr binary
*.kdc binary
*.mos binary
*.mrw binary
*.nrw binary
*.srw binary
*.x3f binary
*.3fr binary
*.ari binary
*.arw binary
*.bay binary
*.crw binary
*.cr2 binary
*.cr3 binary
*.dcr binary
*.dcs binary
*.dng binary
*.drf binary
*.eip binary
*.erf binary
*.fff binary
*.gpr binary
*.iiq binary
*.k25 binary
*.kdc binary
*.mdc binary
*.mef binary
*.mfw binary
*.mrw binary
*.nef binary
*.nrw binary
*.orf binary
*.pef binary
*.ptx binary
*.pxn binary
*.r3d binary
*.raf binary
*.raw binary
*.rw2 binary
*.rwl binary
*.rwz binary
*.sr2 binary
*.srf binary
*.srw binary
*.tif binary
*.tiff binary
*.x3f binary
*.xmp binary
*.dng binary
*.rw2 binary
*.pef binary
*.srw binary
*.x3f binary
*.mrw binary
*.mef binary
*.raf binary
*.dcr binary
*.kdc binary
*.mos binary
*.mrw binary
*.nrw binary
*.srw binary
*.x3f binary
*.3fr binary
*.ari binary
*.arw binary
*.bay binary
*.crw binary
*.cr2 binary
*.cr3 binary
*.dcr binary
*.dcs binary
*.dng binary
*.drf binary
*.eip binary
*.erf binary
*.fff binary
*.gpr binary
*.iiq binary
*.k25 binary
*.kdc binary
*.mdc binary
*.mef binary
*.mfw binary
*.mrw binary
*.nef binary
*.nrw binary
*.orf binary
*.pef binary
*.ptx binary
*.pxn binary
*.r3d binary
*.raf binary
*.raw binary
*.rw2 binary
*.rwl binary
*.rwz binary
*.sr2 binary
*.srf binary
*.srw binary
*.tif binary
*.tiff binary
*.x3f binary
*.xmp binary
